// app global css in SCSS form
@import url("https://use.typekit.net/pka7udp.css"); // Import Futura

$mainBG : #000000;
$font : "Futura-PT";
$title : #ffffff;
$subTitle : #CCCCCC; //#808080
$copyright : #404040;