// app global css in SCSS form
@import url("https://use.typekit.net/pka7udp.css"); // Import Futura

$mainBG : #000000;
$font : "Futura-PT";
$fontTitleSize : 165px;
$fontMobileSize : 20px;
$fontTitleWeight : 500px;
$fontSubTitleWeight : 500px;
$fontSubTitleSize : 40px;
$title : #ffffff;
$subTitle : #CCCCCC; //#808080
$copyright : #404040;